@use "bootstrap-import";

body {
  text-align: center;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

h1 {
  transform: rotate(-5deg);
  transition: transform 10s;
}

h1:hover {
  transform: rotate(5deg);
  transition: transform 0.2s;
}