:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 20px;
  text-align: center;
}

input {
  font-size: 1.2em;
  padding: 5px;
  margin: 10px;
  border: solid 1px #ccc;
  border-radius: 5px;
  box-shadow: inset 0 0 5px #ccc;
}

article {
  margin-bottom: 20px;
  border: solid 1px #ccc;
  border-radius: 10px;
  padding: 10px;
  box-shadow: inset 0 0 5px #ccc;
}

article:hover {
  box-shadow: inset 0 0 10px #999;
  transition: transform 0.2s, box-shadow 0.2s;
}

article:nth-child(even) {
  transform: rotate(3deg);
}

article:nth-child(even):hover {
  transform: rotate(0deg);
}

article:nth-child(odd):hover {
  transform: rotate(0deg);
}

article:nth-child(odd) {
  transform: rotate(-3deg);
}